{% extends '../main.html' %}
{% load static %}

{% block content %}
<div class="container mx-auto mt-5 mb-5">
	<!-- Formulario de registro -->
	<div class="row col-lg-6 col-md-8 mx-auto border border-2 border-success">
		<div class="p-4">
			<h2>Registro de usuario</h2>
			<form method="POST">
				{% csrf_token %}
				{{form}}
				<div class="d-flex justify-content-center">
					<button class="btn btn-success mt-2" type="submit">Enviar</button>
				</div>
			</form>
		</div>
	</div>
</div>
{% endblock %}