{% extends '../main.html' %}
{% load static %}

{% block content %}
<div class="container mx-auto mt-5 mb-5">
	<div class="row col-lg-6 col-md-8 mx-auto border border-2 border-success">
		<div class="p-4">
			<h2>Reseteo de contraseña</h2>
			<form method="post">
				{% csrf_token %}
				<label for="id_email">{{form.email.label}}</label>
				<br>
				{{form.email}}
				<br>
				<div class="d-flex justify-content-center">
					<button class="btn btn-success" type="submit">Enviar</button>
				</div>
			</form>
			<!--hr>
			<a href="{% url 'login' %}"><input type="submit" value="Volver" /></a-->
		</div>
	</div>
</div>
{% endblock %}

{% block jsbot %}
<!-- añado clase a input del form -->
<script>
	document.getElementById("id_email").classList.add("form-control");
</script>

{% endblock %}
