{% extends '../main.html' %}
{% load static %}

<!-- Titulo -->
{% block title %}
	<title>Sonabook - Resetear pass</title>
{% endblock title %}

{% block content %}
<div class="container mx-auto mt-5 mb-5">
	<div class="row col-lg-6 col-md-8 mx-auto border border-2 border-success">
		<div class="p-4">
			<h2>Reseteo de contraseña</h2>
			<h3>Ingrese su contraseña</h3>
			<form class="form" action="" method="POST" enctype="multipart/form-data">
				{% csrf_token %}
				<label for="id_new_password1">{{form.new_password1.label}}</label>
				{{form.new_password1}}
				<label for="id_new_password2">{{form.new_password2.label}}</label>
				{{form.new_password2}}
				<!-- AYUDA DE CONTRASEÑA
				Su contraseña no puede asemejarse tanto a su otra información personal.
				Su contraseña debe contener al menos 8 caracteres.
				Su contraseña no puede ser una clave utilizada comúnmente.
				Su contraseña no puede ser completamente numérica.
				Los dos campos de contraseña no coinciden.-->
				<div class="d-flex justify-content-center mt-4">
					<button type="submit" class="btn btn-success btn-lg btn-block">Cambiar contraseña</button>
				</div>
			</form>
		</div>
	</div>
</div>
{% endblock %}

{% block jsbot %}
<!-- añado clase a inputs del form -->
<script>
	document.getElementById("id_new_password1").classList.add("form-control");
	document.getElementById("id_new_password2").classList.add("form-control");
</script>
{% endblock %}