{% extends '../main.html' %}
{% load static %}

<!-- Titulo -->
{% block title %}
	<title>Sonabook - Resetear pass</title>
{% endblock title %}

{% block content %}
<div class="container mx-auto mt-5 mb-5">
	<div class="row col-lg-6 col-md-8 mx-auto border border-2 border-success">
		<div class="p-4">
			<h2>Reseteo de contraseña</h2>
			<h4>Exito! Su contraseña ha sido cambiada.</h4>
			<div class="d-flex justify-content-center mt-4">
				<a class="btn btn-success" href="{% url 'login' %}">Iniciar sesión</a>
			</div>
		</div>
	</div>
</div>
{% endblock %}
