{% extends '../main.html' %}
{% load static %}

{% block content %}
<div class="container mx-auto mt-5 mb-5">
	<div class="row col-lg-10 col-md-8 mx-auto">
		<div class="p-4">
            <img style="max-width: 300px; max-height: 300px;" src="{% static '../media/' %}{{pagina.imagen}}" alt="imagen de perfil">
			<h2>{{pagina.titulo}}</h2>
			<h4>{{pagina.subtitulo}}</h4>
			<p>{{pagina.cuerpo}}</p>
			<p>Autor: {{pagina.autor.username}}</p>
			{% if username != pagina.autor.username %}
                <form method="POST">
                    {% csrf_token %}
                    <button class="btn btn-outline-success" type="submit" name="mensajear" value="{{pagina.autor.id}}">Enviar mensaje a {{pagina.autor.id}} </button>
                </form>
			{% endif %}
		</div>
	</div>
</div>
{% endblock %}
